<% provide(:title, 'Edit a question') %>
<h1>Edit question</h1>

<div class="row">
  <div class="span6 offset3">
    <div id="question_form">
      <%=render "edit_question"%>
    </div>
  </div>
</div>
