<div class="row">
  <div class="span6 offset3">
    <%= form_tag admin_export_request_path("table.csv"), method: "get" do %>
      <%= label_tag "Table" %>
      <%= select_tag "table", options_for_select(@tables) %>

      <%= submit_tag "Export", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
